:root {
  --accent: rgb(238,114,241);
  --accent-alpha-20: rgba(238,114,241,.2);
  --accent-alpha-70: rgba(238,114,241,.7);
  --background: whitesmoke;
  --color: #21202C;
  --border-color: rgba(255, 255, 255,.1);
}
