{% macro copyright() %}
    {%- if config.extra.center -%}
        {%- set copyright_class = "copyright copyright--center" -%}
    {%- else -%}
        {%- set copyright_class = "copyright" -%}
    {%- endif -%}
    <div class="{{ copyright_class }}">
        {%- if config.extra.copyright -%}
            {{ config.extra.copyright | safe }}
        {%- else -%}
            <span>{{ config.extra.copyright_glyph }} {{ now() | date(format="%Y") }} {{ config.extra.copyright_author | safe }}</span>
            <span>{{ config.extra.sep }} {{ config.extra.copyright_statement | safe }}</span>
        {%- endif -%}
    </div>
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="assets/js/main.js" ) }}"></script>
    {%- if config.extra.color_toggle -%}
        <script type="text/javascript" src="{{ get_url(path="assets/js/toggle.js" ) }}"></script>
    {%- endif -%}
    {# todo > there's a way to load this only in case the page contains a code block? #}
    {%- if config.extra.highlight_prism -%}
        <script type="text/javascript" src="{{ get_url(path="assets/js/prism.js" ) }}"></script>
    {% endif %}
{% endmacro script %}
