{% macro menu() %}
    <nav class="menu">
        <ul class="menu__inner menu__inner--desktop">
            {% if config.extra.show_menu_items is defined -%}
                {{ menu::items(menu=config.extra.main_menu | slice(end=config.extra.show_menu_items)) }}

                {%- set main_len = config.extra.main_menu | length -%}
                {%- set show_len = config.extra.show_menu_items -%}

                {%- if main_len > show_len -%}
                    <ul class="menu__sub-inner">
                        <li class="menu__sub-inner-more-trigger">{{ config.extra.menu_more }} ▾</li>
                        <ul class="menu__sub-inner-more hidden">
                            {{ menu::items(menu=config.extra.main_menu | slice(start=config.extra.show_menu_items)) }}
                        </ul>
                    </ul>
                {%- endif -%}
            {% else -%}
                {{ menu::items(menu=config.extra.main_menu) }}
            {%- endif -%}
        </ul>

        <ul class="menu__inner menu__inner--mobile">
            {{ menu::items(menu=config.extra.main_menu) }}
        </ul>
    </nav>
{% endmacro menu %}

{% macro items(menu) %}
    {%- for item in menu -%}
        {%- set abs_item_url = get_url(path=item.url) -%}
        {%- set is_current = current_url == abs_item_url ~ "/" or current_url is starting_with(abs_item_url) -%}
        {%- set is_base = abs_item_url == config.base_url or abs_item_url == config.base_url ~ "/" -%}
        {%- set is_external = item.url is starting_with("https://") or item.url is starting_with("http://") -%}

        {%- if is_external -%}
            {%- set abs_item_url = item.url -%}
        {%- endif -%}

        <li {%- if is_current and not is_base %} class="active" {%- endif %}>
            {%- if item.blank -%}
                <a href="{{ abs_item_url }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>
            {%- else -%}
                <a href="{{ abs_item_url }}">{{ item.name }}</a>
            {%- endif -%}
        </li>
    {%- endfor-%}
{% endmacro items %}
